.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img.mantine-1trwvlz.mantine-Avatar-image {
  border-radius: 100px;
  size: 10vw;
}

chat-messages {
  display: flex;
}

chat-send {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.mantine-Paper-root.mantine-Drawer-drawer.mantine-bx13fu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
